[submodule "pack/default/start/vim-airline"]
	path = pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	shallow = true
[submodule "pack/default/start/vim-gitgutter"]
	path = pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	shallow = true
[submodule "pack/default/start/vim-rooter"]
	path = pack/default/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
	shallow = true
[submodule "pack/default/start/editorconfig-vim"]
	path = pack/default/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	shallow = true
[submodule "pack/default/start/supertab"]
	path = pack/default/start/supertab
	url = https://github.com/ervandew/supertab.git
	shallow = true
[submodule "pack/default/start/vim-numbertoggle"]
	path = pack/default/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
	shallow = true
[submodule "pack/default/opt/onedark.vim"]
	path = pack/default/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
	shallow = true
[submodule "pack/default/start/fzf"]
	path = pack/default/start/fzf
	url = https://github.com/junegunn/fzf.git
	shallow = true
[submodule "pack/default/start/fzf.vim"]
	path = pack/default/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	shallow = true
[submodule "pack/default/start/vim-polyglot"]
	path = pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	shallow = true
[submodule "pack/default/start/vim-commentary"]
	path = pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	shallow = true
[submodule "pack/default/start/vim-gutentags"]
	path = pack/default/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	shallow = true
[submodule "pack/default/start/vim-easymotion"]
	path = pack/default/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
	shallow = true
[submodule "pack/default/start/vim-fugitive"]
	path = pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
[submodule "pack/default/start/vim-surround"]
	path = pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true
[submodule "pack/default/start/vim-mundo"]
	path = pack/default/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
	shallow = true
[submodule "pack/default/start/LanguageClient-neovim"]
	path = pack/default/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
	shallow = true
[submodule "pack/default/start/vim-abolish"]
	path = pack/default/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	shallow = true
